body {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  background-color: #5DFEFE;
}

header h1 {
  margin: 0;
  padding: 0;
}

.headerContainer {
  font-size: 18px;
  display: flex;
  background: #ff69b4;
  color: #fff;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  padding: 5px 10px
   
}

.headerContainer,
button,
.offer-box {
  background-color: #5DFEFE;
  color: #333;
}

header p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 15px;
  font-size: 14px;
  text-align: center;
}

nav {
  margin-top: center;
  background-color: #ff69b4;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-size: 16px;
}

nav a:hover {
  margin-top: auto;
  color: black;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item img {
  border-radius: 10px;
  height: 275px;
  width: 285px;
}

.menu-item h3 {
  margin: 5px;

}

.menu-item p::before {
  content: "\20B9";
}

.menu-item p {
  margin: 5px;
}

section {
  margin: 15px;
}

.offer-box-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  background-color: peachpuff;
  border-radius: 5px;
  justify-content: space-evenly;
}

.offer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: #FFF;
  width: 250px;
  min-height: 100px
}

.offer-box ul {
  margin: 15px 0;
}

.offer-content {
  font-size: 18px;
  font-weight: 600;
}

.contact-container {
  font-family: "Inter", sans-serif;
  padding-top: 15px;
  background: #BADFDB;
  color: #19150c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container form {
  width: 45%;
}

.contact-container form .contact-btn {
  text-align: center;
}

.contact-container input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  font-family: 'Times New Roman', Times, serif;
  justify-content: space-between;
  background: #000;
  color: #fff;
  margin: 0 15px;
  font-size: 12px;
}

footer p {
  margin: 10px;
  padding-left: 10px;
  color: #fff;
}


p a {
  color: #fff;
}

button {
  width: 100px;
  padding: 4px;
  background-color: #0BA6DF;
  border-radius: 4px;
  font-size: 12px;
  border: 0;
  color: #fff;
}

@media (min-width:481px) {
  .headerContainer {
    padding: 5px 15px;
  }

  header p {
    font-size: 20px;
  }

  nav {
    padding: 10px;
  }

  nav a {
    font-size: 20px;
  }

  #menu {
    justify-content: space-between;
  }

  .menu-item img {
    height: 300px;
    width: 300px;
  }

  .offer-box-container {
    gap: 5px;
  }

  footer p {
    width: 250px;
     font-size: 16px;
  }
  button{
    width:150px;
    font-size: 16px;
  }
}